/* CSS AQUI */

.boxContent {
    background-color: #550ab8;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    top: 20vw;
    left: 0vw;
    border-radius: 10px;
}

#btn  {
    color: white;
    background-color: rgb(111, 168, 111);
    border-radius: 25px;
    border: 1px solid #550ab8;
    padding: 4px 45px;
}
#btn:focus {
    outline: none;
}

.topBtn {
    margin-bottom: auto;
    margin-top: 20px;
}

.modalChallenger {
    background-color: white;
    padding: 20px 10px;
    padding-top: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

#closeX {
    text-decoration: none;
    font-size: 22px;
}

.hideModal {
    display: none;
}

p.title {
    color: rgb(111, 168, 111);
    font-weight: 700;
    margin-bottom: 0px;
}

p.text {}